<div class="contact-us flex flex-wrap mt-10">
  <!-- Contenedor del formulario -->
  <div class="w-full md:w-1/2 p-4 ">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-left text-gray-700 text-sm font-bold mb-2" for="name">
          Nombre
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="name"
          type="text"
          placeholder="Nombre"
        />
      </div>
      <div class="mb-4">
        <label class="block text-left text-gray-700 text-sm font-bold mb-2" for="email">
          Correo
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="email"
          type="email"
          placeholder="Correo"
        />
      </div>
      <div class="mb-6">
        <label class="block text-left text-gray-700 text-sm font-bold mb-2" for="message">
          Mensaje
        </label>
        <textarea
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="message"
          rows="4"
          placeholder="Mensaje"
        ></textarea>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-center">
          <button class="btncontact">
            <span>Enviar</span>
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Contenedor de información de contacto -->
  <div class="w-full md:w-1/3 p-4">
    <div class="px-8 pt-6 pb-8 mb-4">
      <h2 class="title-contact-us text-left text-3xl font-bold text-firstColor">Contáctanos</h2>
      <p class="title-contact-us text-left mt-1 text-paragraphColor font-semibold">Estamos aquí para ayudarte</p>
      <div class="my-6">
        <div class="flex items-center mb-4 h-12">
          <svg class="w-7 h-7 mr-2" data-name="1-Email" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M29 4H3a3 3 0 0 0-3 3v18a3 3 0 0 0 3 3h26a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zm-.72 2L16 14.77 3.72 6zM30 25a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.23l13.42 9.58a1 1 0 0 0 1.16 0L30 7.23z" fill="#020659" stroke="#020659" stroke-width="1"/></svg>
          <div>
            <p class="font-bold text-left ">Correo</p>
            <span class="text-left">contacto&#64;eafit.edu.co</span>
          </div>
        </div>
        <div class="flex items-center mb-4 h-12">
          <svg class="w-7 h-7 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.314 28.323" style="enable-background:new 0 0 28.314 28.323" xml:space="preserve"><path d="m27.728 20.384-4.242-4.242a1.982 1.982 0 0 0-1.413-.586h-.002c-.534 0-1.036.209-1.413.586L17.83 18.97l-8.485-8.485 2.828-2.828c.78-.78.78-2.05-.001-2.83L7.929.585A1.986 1.986 0 0 0 6.516 0h-.001C5.98 0 5.478.209 5.101.587L.858 4.83C.729 4.958-.389 6.168.142 8.827c.626 3.129 3.246 7.019 7.787 11.56 6.499 6.499 10.598 7.937 12.953 7.937 1.63 0 2.426-.689 2.604-.867l4.242-4.242c.378-.378.587-.881.586-1.416 0-.534-.208-1.037-.586-1.415zm-5.656 5.658c-.028.028-3.409 2.249-12.729-7.07C-.178 9.452 2.276 6.243 2.272 6.244L6.515 2l4.243 4.244-3.535 3.535a.999.999 0 0 0 0 1.414l9.899 9.899a.999.999 0 0 0 1.414 0l3.535-3.536 4.243 4.244-4.242 4.242z" fill="#020659" stroke="#020659" stroke-width="1"/></svg>
          <div>
            <p class="font-bold text-left">Teléfono</p>
            <p class="text-left">+57 (604) 261-9500</p>
          </div>
        </div>
        <div class="flex items-center mb-4 h-12">
          <svg class="w-7 h-7 mr-2" data-name="1.Pin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.376 24h-2.752l-.283-.248C10 23.455 2 16.38 2 10a10 10 0 0 1 20 0c0 6.38-8 13.455-8.341 13.752zm-1.99-2h1.227C13.979 20.735 20 14.877 20 10a8 8 0 0 0-16 0c0 4.886 6.021 10.737 7.386 12z" fill="#020659" stroke="#020659" stroke-width="1"/><path d="M12 15a5 5 0 1 1 5-5 5.006 5.006 0 0 1-5 5zm0-8a3 3 0 1 0 3 3 3 3 0 0 0-3-3z" fill="#020659" stroke="#020659" stroke-width="1"/></svg>
          <div>
            <p class="font-bold text-left">Ubicación</p>
            <p class="text-left">Medellín, Antioquia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
