<section class="carousel">
  <div class="carousel-wrapper">
    <div class="carousel-slide-wrapper">
      <div class="carousel-slide" *ngFor="let slide of slides">
        <div class="banner-item">
          <div class="image-container">
            <img [src]="slide.imgSrc" [alt]="slide.altText">
            <div class="border-overlay"></div>
            <span>{{ slide.caption }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-pagination">
      <span class="pagination-dot" *ngFor="let dot of paginationDots; let i = index" [class.active]="i === currentSlide"
        (click)="goToSlide(i)"></span>
    </div>
  </div>
</section>

