<footer id="footer" class="FooterContainer noPrint">
<div id="fatfooter" class="FatFooterContainer noPrint">
  <div class="container">
  <div class="row">
  <ul class="FatFooter-list u-menu-list col-xs-12 col-sm-3">
  <li>
  <h3 class="FatFooter-listTitle">Accesos rápidos</h3>
  </li>
  <li><a href="http://www.eafit.edu.co/innovacion">Innovación EAFIT</a></li>
  <li><a href="http://www.eafit.edu.co/cultura">Cultura</a></li>
  <li><a href="http://www.eafit.edu.co/biblioteca">Biblioteca</a></li>
  <li><a href="http://www.eafit.edu.co/virtual">EAFIT Virtual</a></li>
  </ul>
  <ul class="FatFooter-list u-menu-list col-xs-12 col-sm-3">
  <li>
  <h3 class="FatFooter-listTitle">Escuelas</h3>
  </li>
  <li><a href="http://www.eafit.edu.co/escuelas/administracion">Administración</a></li>
  <li><a href="http://www.eafit.edu.co/escuelas/ingenieria">Ingeniería</a></li>
  <li><a href="http://www.eafit.edu.co/escuelas/humanidades">Humanidades</a></li>
  <li><a href="http://www.eafit.edu.co/escuelas/derecho">Derecho</a></li>
  <li><a href="http://www.eafit.edu.co/escuelas/economiayfinanzas">Economía y Finanzas</a></li>
  <li><a href="http://www.eafit.edu.co/escuelas/ciencias">Ciencias</a></li>
  </ul>
  <ul class="FatFooter-list u-menu-list col-xs-12 col-sm-3">
  <li>
  <h3 class="FatFooter-listTitle">¿Qué estudiar?</h3>
  </li>
  <li><a href="http://www.eafit.edu.co/pregrados">Pregrados</a></li>
  <li><a href="http://www.eafit.edu.co/posgrados">Posgrados</a></li>
  <li><a href="http://www.eafit.edu.co/cec">Educación Permanente</a></li>
  <li><a href="http://www.eafit.edu.co/idiomas">Idiomas</a></li>
  <li><a href="http://www.eafit.edu.co/escueladeverano">Cursos de Verano</a></li>
  </ul>
  <ul class="FatFooter-list u-menu-list col-xs-12 col-sm-3 col-padding-0">
  <li>
  <h3 class="FatFooter-listTitle">Servicios</h3>
  </li>
  <li><a href="http://www.eafit.edu.co/estudiantes">Para estudiantes</a></li>
  <li><a href="http://www.eafit.edu.co/egresados">Para egresados</a></li>
  <li><a href="http://www.eafit.edu.co/empresas">Para empresas</a></li>
  <li><a href="http://entrenos.eafit.edu.co/">Para docentes/empleados</a></li>
  <li><a href="http://www.eafit.edu.co/servicios-en-linea">Aplicaciones web</a></li>
  </ul>
  </div>
  </div>
  </div>
  
  <div class="container">
  <div class="row">
  <div class="Footer-col1 col-xs-12 col-sm-6 col-md-4">
  
  <div class="Footer-phone">
  <span class="glyphicon glyphicon-earphone Footer-phoneIcon"></span> 01 8000 515 900
  </div>
  </div>
  <address class="Footer-contact col-xs-12 col-sm-6 col-md-8">
  Universidad EAFIT, Cra 49 N° 7 Sur-50, Medellín - Colombia • Medellín: (57)(4)2619500<br>
  <a class="Footer-link" href="http://www.eafit.edu.co/bogota">EAFIT Bogotá</a> |
  <a class="Footer-link" href="http://www.eafit.edu.co/pereira">EAFIT Pereira</a> |
  <a class="Footer-link" href="http://www.eafit.edu.co/llanogrande">EAFIT Llanogrande</a><br>
  <a class="Footer-link"
  href="http://www.eafit.edu.co/institucional/reglamentos/tratamiento-proteccion-datos-personales">Política
  de protección de datos personales</a> |
  <a class="Footer-link"
  href="http://www.eafit.edu.co/institucional/contacto/Paginas/contacto-eafit.aspx">Contáctenos</a>
  </address>
  </div>
  </div>
  </footer>
  <!-- Javascript -->
  <script src="/EACS92PD/assets/js/jquery-1.11.1.min.js"></script>
  <script src="/EACS92PD/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/EACS92PD/assets/js/jquery.backstretch.min.js"></script>
  <script src="/EACS92PD/assets/js/scripts.js"></script>
  <script src="/EACS92PD/assets/js/CambioLogin.js"></script>
  
  <!--[if lt IE 10]>
  <script src="assets/js/placeholder.js"></script>
  <![endif]-->
 
  <!--#pswrapper-->
  <script type="text/javascript" src="/_Incapsula_Resource?SWJIYLWA=719d34d31c8e3a6e6fffd425f7e032f3&ns=2&cb=495626811" async></script>
  
  