<div class="event-cards mt-8">
  <br>
  <h2 class="font-title text-3xl text-firstColor font-bold text-center">Próximos eventos</h2>
  <br><br>
  <div class="container-cards" *ngIf="events$ | async as events; else noEvents">
    <div *ngFor="let event of events" class="card">
      <img [src]="event.photo" alt="{{ event.description }}" class="card-image">
      <div class="card-details">
        <p class="event-date font-body">{{ event.date | date:'longDate' }}</p>
        <p class="event-time font-body">{{ event.time }}</p>
        <p class="event-description font-body">{{ event.description }}</p>
      </div>
    </div>
  </div>
  <ng-template #noEvents>
    <p class="no-events font-body">No upcoming events.</p>
  </ng-template>
</div>