/* Tablets (pantallas medianas) */
@media (max-width: 1024px) {
  .w-96 {
    width: 95%;
  }
  .grid-cols-1 {
    grid-template-columns: 1fr;
  }
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr); 
  }
  .sm\:col-span-1 {
    grid-column: span 1 / span 1; 
  }
  .sm\:col-span-2 {
    grid-column: span 2 / span 2; 
  }
}

/* Móviles (pantallas pequeñas) */
@media (max-width: 768px) {
  .w-96 {
    width: 90%; 
  }
  .grid-cols-1 {
    grid-template-columns: 1fr; 
  }
  .sm\:grid-cols-2 {
    grid-template-columns: 1fr 1fr; 
  }
  .sm\:col-span-1 {
    grid-column: span 1 / span 1; 
  }
  .sm\:col-span-2 {
    grid-column: span 2 / span 2; 
  }
  .asesoria{
    font-size: 0.8rem;
    grid-template-columns: 1fr;
  }
}

/* Móviles muy pequeños */
@media (max-width: 480px) {
  .w-96 {
    width: 90%; 
  }
  .grid-cols-1 {
    grid-template-columns: 1fr; 
  }
  .sm\:grid-cols-2 {
    grid-template-columns: 1fr; 
  }
  .sm\:col-span-1 {
    grid-column: span 1 / span 1; 
  }
  .sm\:col-span-2 {
    grid-column: span 1 / span 1; 
  }
  .asesoria {
    font-size: 0.7rem;
    grid-template-columns: 1fr;
  }
}
