<div class="container">
    <legend>Create item</legend>
    <form>
        <div class="mb-3">
            <label for="txtName" class="form-label">Tipo de empresa</label>
            <input type="text" name="name" [(ngModel)]="formdata.EnterpriseName" class="form-control" id="txtName"/>
        </div>
        <div class="mb-3">
            <label for="txtName" class="form-label">Nombre de la empresa</label>
            <input type="text" name="price" [(ngModel)]="formdata.EnterpriseName" class="form-control" id="txtName"/>
        </div>
        <div class="mb-3">
            <label for="txtName" class="form-label">Razón social</label>
            <input type="text" name="quantity" [(ngModel)]="formdata.BusinessName" class="form-control" id="txtName"/>
        </div>
        <div class="mb-3">
            <label for="txtName" class="form-label">Sector</label>
            <input type="text" name="quantity" [(ngModel)]="formdata.Sector" class="form-control" id="txtName"/>
        </div>
        <div class="mb-3">
            <label for="txtName" class="form-label">Dirección</label>
            <input type="text" name="quantity" [(ngModel)]="formdata.Adress" class="form-control" id="txtName"/>
        </div>
        <div class="mb-3">
            <label for="txtName" class="form-label">Teléfono</label>
            <input type="text" name="quantity" [(ngModel)]="formdata.Phone" class="form-control" id="txtName"/>
        </div>
        <div class="mb-3">
            <label for="txtName" class="form-label">Correo electrónico</label>
            <input type="text" name="quantity" [(ngModel)]="formdata.Email" class="form-control" id="txtName"/>
        </div>
        <div class="mb-3">
            <label for="txtName" class="form-label">Contraseña</label>
            <input type="text" name="quantity" [(ngModel)]="formdata.Password" class="form-control" id="txtName"/>
        </div>
        <div class="mb-3">
            <label for="txtName" class="form-label">Confirmación ontraseña</label>
            <input type="text" name="quantity" [(ngModel)]="formdata.ConfirmPassword" class="form-control" id="txtName"/>
        </div>
        <button type="button" (click)="create()" class="btn btn-primary">Crear usuario</button>
    </form>
</div>
