<section class="services mt-8">
  <div class="title-services">
    <h2 class="font-title text-3xl font-bold text-center text-firstColor">Auto Diagnóstico</h2>
    <p class="font-title mt-4 text-paragraphColor font-semibold text-center">¡Así iniciamos la transformación de tu empresa!</p>
  </div>

  <div class="wrapper">
    <div class="container">
      <input type="radio" name="slide" id="c1" checked>
      <label for="c1" class="card">
        <div class="row">
          <div class="description">
            <h4 class="font-title">Evaluación Inicial</h4>
            <p class="font-body">Identificamos los principales desafíos y oportunidades de su negocio mediante un análisis preliminar.</p>
          </div>
          <div class="icon">1</div>
        </div>
      </label>

      <input type="radio" name="slide" id="c2">
      <label for="c2" class="card">
        <div class="row">
          <div class="description">
            <h4 class="font-title">Análisis de Competencia</h4>
            <p class="font-body">Evaluamos el entorno competitivo de su empresa para identificar fortalezas y debilidades en comparación con la competencia.</p>
          </div>
          <div class="icon">2</div>
        </div>
      </label>

      <input type="radio" name="slide" id="c3">
      <label for="c3" class="card">
        <div class="row">
          <div class="description">
            <h4 class="font-title">Diagnóstico Interno</h4>
            <p class="font-body">Revisamos los procesos internos y recursos de su empresa para detectar áreas de mejora y optimización.</p>
          </div>
          <div class="icon">3</div>
        </div>
      </label>

      <input type="radio" name="slide" id="c4">
      <label for="c4" class="card">
        <div class="row">
          <div class="description">
            <h4 class="font-title">Estrategias de Mejora</h4>
            <p class="font-body">Desarrollamos un plan de acción con estrategias específicas para mejorar la competitividad y eficiencia de su empresa.</p>
          </div>
          <div class="icon">4</div>
        </div>
      </label>

      <input type="radio" name="slide" id="c5">
      <label for="c5" class="card">
        <div class="row">
          <div class="description">
            <h4 class="font-title">Implementación</h4>
            <p class="font-body">Acompañamos la implementación de las estrategias y aseguramos que se ejecuten de manera efectiva.</p>
          </div>
          <div class="icon">5</div>
        </div>
      </label>

      <input type="radio" name="slide" id="c6">
      <label for="c6" class="card">
        <div class="row">
          <div class="description">
            <h4 class="font-title">Seguimiento y Evaluación</h4>
            <p class="font-body">Monitoreamos el progreso de las estrategias implementadas y ajustamos el plan según sea necesario para asegurar el éxito.</p>
          </div>
          <div class="icon">6</div>
        </div>
      </label>
    </div>
  </div>
</section>
