/** Header **/
  
.header-landing{
    display: flex;
    justify-content: center;
    background: #f1f2f2;
    padding: -1.25rem;
  }
  
  .logo-header{
    max-width: 34px;
    height: 99%;
    width: 99%;
  }