<section class="relative flex flex-col justify-center items-center">
  <div class="py-0 w-96">
    <form class="space-y-5 mt-5" [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="space-y-12">
        <div>
          <div class=" flex justify-center">
            <div class="w-52">
              <label for="TypeOfPerson" class="flex items-start text-sm font-medium leading-6 text-thirdColor">Tipo de
                persona</label>
              <div class="mt-2">
                <select id="TypeOfPerson" name="TypeOfPerson" formControlName="TypeOfPerson" autocomplete=""
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                  <option value="" disabled selected>Selecciona...</option>
                  <option value="Jurídica">Persona Jurídica</option>
                  <option value="Natural">Persona Natural</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Persona Jurídica -->
          <div id="LegalPerson" *ngIf="registerForm.get('TypeOfPerson')?.value === 'Jurídica'"
            class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-2 pt-2">

            <!--Tipo de empresa-->
            <div class="relative sm:col-span-1">
              <select id="TypeCompany" name="TypeCompany" formControlName="TypeCompany" autocomplete=""
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                <option value="microempresa">Microempresa</option>
                <option value="pequeña">Pequeña</option>
                <option value="mediana">Mediana</option>
                <option value="grande">Grande</option>
                <option value="otro">Otro</option>
              </select>
              <label for="TypeCompany"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                  peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Tipo
                de empresa</label>
            </div>

            <!-- Otro tipo de empresa -->
            <div *ngIf="TypeCompanyAnother" class="relative sm:col-span-1">
              <input type="text" name="TypeCompanyAnother" formControlName="TypeCompanyAnother" id="TypeCompanyAnother"
                autocomplete=""
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
              <label for="TypeCompanyAnother"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                  peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Otro</label>
              <div
                *ngIf="registerForm.get('TypeCompanyAnother')?.invalid && (registerForm.get('TypeCompanyAnother')?.dirty || registerForm.get('TypeCompanyAnother')?.touched)">
                <div *ngIf="registerForm.get('TypeCompanyAnother')?.hasError('required')" class="text-red-500 text-xs">
                  El campo es requerido cuando se selecciona "Otro".
                </div>
              </div>
            </div>

            <!-- Nombre Comercial -->
            <div class="relative sm:col-span-1">
              <input type="text" name="LegalPersonName" formControlName="LegalPersonName" id="LegalPersonName"
                autocomplete=""
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
              <label for="LegalPersonName"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                  peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Nombre
                Comercial</label>
              <div *ngIf="LegalPersonName?.invalid && (LegalPersonName?.dirty || LegalPersonName?.touched)"
                class="text-red-500 text-xs mt-1">
                <div *ngIf="LegalPersonName?.hasError('required')">El nombre es requerido.</div>
              </div>
            </div>

            <!-- Razón Social -->
            <div class="relative sm:col-span-1">
              <input type="text" name="LegalPersonCompanyName" formControlName="LegalPersonCompanyName"
                id="LegalPersonCompanyName" autocomplete=""
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
              <label for="LegalPersonCompanyName"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                  peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Razón
                Social</label>
              <div
                *ngIf="LegalPersonCompanyName?.invalid && (LegalPersonCompanyName?.dirty || LegalPersonCompanyName?.touched)"
                class="text-red-500 text-xs mt-1">
                <div *ngIf="LegalPersonCompanyName?.hasError('required')">La razón social es requerida.</div>
              </div>
            </div>

            <!-- Sector -->
            <div class="relative sm:col-span-1">
              <select id="Sector" name="Sector" formControlName="Sector" autocomplete=""
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                <option>Alimentos y Nutrición</option>
                <option>Automóviles</option>
                <option>Bebidas</option>
                <option>Belleza y Salud</option>
                <option>Bienes de Consumo</option>
                <option>Electrónica y Electrodomésticos</option>
                <option>Energía</option>
                <option>Finanzas y Seguros</option>
                <option>Higiene y Cuidado Personal</option>
                <option>Industria del Hogar</option>
                <option>Industria de Lujo y Moda</option>
                <option>Inmobiliaria</option>
                <option>Logística y Transporte</option>
                <option>Materiales de Construcción</option>
                <option>Medios de Comunicación y Tecnología</option>
                <option>Metales y Minería</option>
                <option>Muebles y Decoración del Hogar</option>
                <option>Productos de Consumo Duraderos</option>
                <option>Productos Químicos y Farmacéuticos</option>
                <option>Publicidad y Marketing</option>
                <option>Recursos Naturales</option>
                <option>Retail y Comercio Electrónico</option>
                <option>Servicios Empresariales</option>
                <option>Servicios Públicos y Medio Ambiente</option>
                <option>Tabaco y Cannabis</option>
                <option>Telecomunicaciones</option>
                <option>Turismo y Ocio</option>
              </select>
              <label for="TypeCompanyAnother"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                    peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Sector</label>

              <div *ngIf="Sector?.invalid && (Sector?.dirty || Sector?.touched)">
                <div *ngIf="Sector?.hasError('required')" class="text-red-500 text-xs">
                  El sector es requerido.
                </div>
              </div>
            </div>

            <!-- Dirección -->
            <div class="relative sm:col-span-1">
              <input type="text" name="LegalPersonAddress" formControlName="LegalPersonAddress" id="LegalPersonAddress"
                autocomplete=""
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
              <label for="LegalPersonAddress"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
              peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Dirección</label>
              <div *ngIf="LegalPersonAddress?.invalid && (LegalPersonAddress?.dirty || LegalPersonAddress?.touched)"
                class="text-red-500 text-xs mt-1">
                <div *ngIf="LegalPersonAddress?.hasError('required')">La dirección es requerida.</div>
              </div>
            </div>

            <!-- Telefono -->
            <div class="relative sm:col-span-1">
              <input type="text" name="LegalPersonPhone" formControlName="LegalPersonPhone" id="LegalPersonPhone"
                autocomplete=""
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
              <label for="LegalPersonPhone"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
              peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Telefono</label>
              <div *ngIf="LegalPersonPhone?.invalid && (LegalPersonPhone?.dirty || LegalPersonPhone?.touched)"
                class="text-red-500 text-xs mt-1">
                <div *ngIf="LegalPersonPhone?.hasError('required')">El teléfono es requerido.</div>
              </div>
            </div>

            <!-- Correo Electrónico -->
            <div class="relative sm:col-span-1">
              <input id="LegalPersonEmail" name="LegalPersonEmail" formControlName="LegalPersonEmail" type="email"
                autocomplete="email"
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
              <label for="LegalPersonEmail"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
              peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Correo
                Electrónico</label>
              <div *ngIf="LegalPersonEmail?.invalid && (LegalPersonEmail?.dirty || LegalPersonEmail?.touched)"
                class="text-red-500 text-xs mt-1">
                <div *ngIf="LegalPersonEmail?.hasError('required')">El correo es requerido.</div>
                <div *ngIf="LegalPersonEmail?.hasError('email')">Introduzca una dirección de correo electrónico
                  válida.
                </div>
              </div>
            </div>

            <!-- Contraseña -->
            <div class="relative sm:col-span-1">
              <input type="password" name="LegalPersonPassword" formControlName="LegalPersonPassword"
                id="LegalPersonPassword" autocomplete=""
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
              <label for="LegalPersonPassword"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
              peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Contraseña</label>
              <div *ngIf="LegalPersonPassword?.invalid && (LegalPersonPassword?.dirty || LegalPersonPassword?.touched)"
                class="text-red-500 text-xs mt-1">
                <div *ngIf="LegalPersonPassword?.hasError('required')">La contraseña es requerida.</div>
              </div>
            </div>

            <!-- Confirmar Contraseña -->
            <div class=" mb-4 relative sm:col-span-1">
              <input type="password" name="LegalPersonConfirmPassword" formControlName="LegalPersonConfirmPassword"
                id="LegalPersonConfirmPassword" autocomplete=""
                class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
              <label for="LegalPersonConfirmPassword"
                class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
              peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Confirmar
                Contraseña</label>
              <div *ngIf="registerForm.hasError('LegalPasswords') && (registerForm.touched || registerForm.dirty)"
                class="text-red-500 text-xs">
                Las contraseñas no coinciden.
              </div>
            </div>


            <!-- Asesoría -->
            <div class="sm:col-span-2">
              <div class="grid grid-cols-1 gap-y-2">
                <div class="asesoriaContainer flex items-center">
                  <input type="radio" formControlName="TypeOfAdvice" value="free" id="freeAdvisory" class="mr-3">
                  <label for="freeAdvisory" class="asesoria text-xs font-medium  text-thirdColor">
                    ¿Quieres asesoría gratuita con estudiantes de pregrado?
                  </label>
                </div>
                <div class="asesoriaContainer flex items-center">
                  <input type="radio" formControlName="TypeOfAdvice" value="paid" id="paidAdvisory" class="mr-3">
                  <label for="paidAdvisory" class="asesoria text-xs font-medium text-thirdColor">
                    ¿Prefieres asesoría con un profesor (con costo)?
                  </label>
                </div>
              </div>
            </div>
          </div>


          <!-- Persona Natural -->
          <div id="NaturalPerson" *ngIf="registerForm.get('TypeOfPerson')?.value === 'Natural'" class="mt-5">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-4">

              <!--Tipo de empresa-->
              <div class="relative sm:col-span-1">
                <select id="TypeCompany" name="TypeCompany" formControlName="TypeCompany" autocomplete=""
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                  <option value="microempresa">Microempresa</option>
                  <option value="pequeña">Pequeña</option>
                  <option value="mediana">Mediana</option>
                  <option value="grande">Grande</option>
                  <option value="otro">Otro</option>
                </select>
                <label for="TypeCompany"
                  class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                    peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Tipo
                  de empresa</label>
              </div>

              <!-- Otro tipo de empresa -->
              <div *ngIf="TypeCompanyAnother" class="relative sm:col-span-1">
                <input type="text" name="TypeCompanyAnother" formControlName="TypeCompanyAnother"
                  id="TypeCompanyAnother" autocomplete=""
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                <label for="TypeCompanyAnother"
                  class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                    peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Otro</label>
                <div
                  *ngIf="registerForm.get('TypeCompanyAnother')?.invalid && (registerForm.get('TypeCompanyAnother')?.dirty || registerForm.get('TypeCompanyAnother')?.touched)">
                  <div *ngIf="registerForm.get('TypeCompanyAnother')?.hasError('required')"
                    class="text-red-500 text-xs">
                    El campo es requerido cuando se selecciona "Otro".
                  </div>
                </div>
              </div>

              <!-- Sector -->
              <div class="relative sm:col-span-1">
                <select id="Sector" name="Sector" formControlName="Sector" autocomplete=""
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                  <option>Alimentos y Nutrición</option>
                  <option>Automóviles</option>
                  <option>Bebidas</option>
                  <option>Belleza y Salud</option>
                  <option>Bienes de Consumo</option>
                  <option>Electrónica y Electrodomésticos</option>
                  <option>Energía</option>
                  <option>Finanzas y Seguros</option>
                  <option>Higiene y Cuidado Personal</option>
                  <option>Industria del Hogar</option>
                  <option>Industria de Lujo y Moda</option>
                  <option>Inmobiliaria</option>
                  <option>Logística y Transporte</option>
                  <option>Materiales de Construcción</option>
                  <option>Medios de Comunicación y Tecnología</option>
                  <option>Metales y Minería</option>
                  <option>Muebles y Decoración del Hogar</option>
                  <option>Productos de Consumo Duraderos</option>
                  <option>Productos Químicos y Farmacéuticos</option>
                  <option>Publicidad y Marketing</option>
                  <option>Recursos Naturales</option>
                  <option>Retail y Comercio Electrónico</option>
                  <option>Servicios Empresariales</option>
                  <option>Servicios Públicos y Medio Ambiente</option>
                  <option>Tabaco y Cannabis</option>
                  <option>Telecomunicaciones</option>
                  <option>Turismo y Ocio</option>
                </select>
                <label for="TypeCompanyAnother"
                  class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                    peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Sector</label>
              </div>

              <!-- Nombre Completo -->
              <div class="relative sm:col-span-1">
                <input type="text" name="NaturalPersonName" formControlName="NaturalPersonName" id="NaturalPersonName"
                  autocomplete=""
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                <label for="NaturalPersonName"
                  class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                      peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Nombre
                  Completo</label>
                <div *ngIf="NaturalPersonName?.invalid && (NaturalPersonName?.dirty || NaturalPersonName?.touched)"
                  class="text-red-500 text-xs mt-1">
                  <div *ngIf="NaturalPersonName?.hasError('required')">El nombre es requerido.</div>
                </div>
              </div>

              <!-- Dirección -->
              <div class="relative sm:col-span-1">
                <input type="text" name="NaturalPersonAddress" formControlName="NaturalPersonAddress"
                  id="NaturalPersonAddress" autocomplete=""
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                <label for="NaturalPersonAddress"
                  class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                      peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Dirección</label>
                <div
                  *ngIf="NaturalPersonAddress?.invalid && (NaturalPersonAddress?.dirty || NaturalPersonAddress?.touched)"
                  class="text-red-500 text-xs mt-1">
                  <div *ngIf="NaturalPersonAddress?.hasError('required')">La dirección es requerida.</div>
                </div>
              </div>

              <!-- Telefono -->
              <div class="relative sm:col-span-1">
                <input type="text" name="NaturalPersonPhone" formControlName="NaturalPersonPhone"
                  id="NaturalPersonPhone" autocomplete=""
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                <label for="NaturalPersonPhone"
                  class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                      peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Telefono</label>
                <div *ngIf="NaturalPersonPhone?.invalid && (NaturalPersonPhone?.dirty || NaturalPersonPhone?.touched)"
                  class="text-red-500 text-xs mt-1">
                  <div *ngIf="NaturalPersonPhone?.hasError('required')">El teléfono es requerido.</div>
                </div>
              </div>

              <!-- Correo Electrónico -->
              <div class="relative sm:col-span-1">
                <input id="NaturalPersonEmail" name="NaturalPersonEmail" formControlName="NaturalPersonEmail"
                  type="email" autocomplete="email"
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                <label for="NaturalPersonEmail"
                  class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                        peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Correo
                  Electrónico</label>
                <div *ngIf="NaturalPersonEmail?.invalid && (NaturalPersonEmail?.dirty || NaturalPersonEmail?.touched)"
                  class="text-red-500 text-xs mt-1">
                  <div *ngIf="NaturalPersonEmail?.hasError('required')">El correo es requerido.</div>
                  <div *ngIf="NaturalPersonEmail?.hasError('email')">Introduzca una dirección de correo
                    electrónico
                    válida.
                  </div>
                </div>
              </div>

              <!-- Contraseña -->
              <div class="relative sm:col-span-1">
                <input type="password" name="NaturalPersonPassword" formControlName="NaturalPersonPassword"
                  id="NaturalPersonPassword" autocomplete=""
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                <label for="NaturalPersonPassword"
                  class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                        peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Contraseña</label>
                <div
                  *ngIf="NaturalPersonPassword?.invalid && (NaturalPersonPassword?.dirty || NaturalPersonPassword?.touched)"
                  class="text-red-500 text-xs mt-1">
                  <div *ngIf="NaturalPersonPassword?.hasError('required')">La contraseña es requerida.</div>
                </div>
              </div>

              <!-- Confirmar Contraseña -->
              <div class=" mb-4 relative sm:col-span-1">
                <input type="password" name="NaturalPersonConfirmPassword"
                  formControlName="NaturalPersonConfirmPassword" id="NaturalPersonConfirmPassword" autocomplete=""
                  class="peer w-full border text-stone-950 border-gray-300 rounded px-1 pt-3 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-azulAlterno focus:border-azulAlterno">
                <label for="NaturalPersonConfirmPassword"
                  class="absolute text-xs left-2 transform translate-y-1 transition-all text-gray-500 cursor-text
                    peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-azulAlterno">Confirmar
                  Contraseña</label>
                <div *ngIf="registerForm.hasError('NaturalPasswords') && (registerForm.touched || registerForm.dirty)"
                  class="text-red-500 text-xs">
                  Las contraseñas no coinciden.
                </div>
              </div>



              <!-- Asesoría -->
              <div class="sm:col-span-2">
                <div class="grid grid-cols-1 gap-y-2">
                  <div class="asesoriaContainer flex items-center">
                    <input type="radio" formControlName="TypeOfAdvice" value="free" id="freeAdvisory" class="mr-2">
                    <label for="freeAdvisory" class="asesoria text-xs font-medium text-thirdColor">
                      ¿Quieres asesoría gratuita con estudiantes de pregrado?
                    </label>
                  </div>
                  <div class="asesoriaContainer flex items-center">
                    <input type="radio" formControlName="TypeOfAdvice" value="paid" id="paidAdvisory" class="mr-2">
                    <label for="paidAdvisory" class="asesoria text-xs font-medium text-thirdColor">
                      ¿Prefieres asesoría con un profesor (con costo)?
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-center gap-x-6">
          <button type="button" class="btnSingUp" (click)="onRegister()"
            [disabled]="!registerForm.valid || registerForm.get('TypeOfPerson')?.value === ''">
            <span class="spanSingUp">Regístrate</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>