h2{
  font-size: 2.5rem;
}

.subtPlans{
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.card {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
  background-color: #808080;
  padding: 1.5rem;
  width: 100%;
  
  .header {
    .title {
      font-size: 2.5rem;
      font-weight: bold;
      color: #FEFFFE;
    }
  }

  .desc {
    font-size: 1rem;
    color: #FEFFFE;
    font-weight: bolder;
    margin-top: 1rem;
  }

  .lists {
    margin-top: 1.5rem;
    text-align: left;
    .list {
      display: flex;
      align-items: center;
      color: #ffffff;
      font-size: 1rem;
      margin-bottom: 0.75rem;
      
      svg {
        height: 1.25rem;
        width: 1.25rem;
        margin-right: 0.5rem;
      }
    }
  }

  .btnPlan {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #049DBF;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
  }
  
  .btnPlan:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #F25E3D;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .btnPlan:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .btnPlan span {
    text-align: center;
    text-decoration: none;
    width: 150px;
    padding: 0.5rem;
    color: #FEFFFE;
    font-weight: 500;
    font-size: 1rem;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  .btnPlan:hover span {
    color: #010001;
    animation: scaleUp 0.3s ease-in-out;
  }
}

