<section>
  <div>
    <h2 class="text-3xl text-firstColor font-bold text-center">Soluciones a Tu Medida</h2>
    <p class="subtPlans mt-4 text-paragraphColor font-semibold text-center">Encuentra el plan más adecuado para ti</p>
    <div class="mt-2 px-4 grid grid-cols-1 gap-16 md:grid-cols-2 lg:grid-cols-3">
      <div class="card">
        <div class="header">
          <span class="title">Básico</span>
        </div>
        <p class="desc">Acceso esencial al diagnóstico inicial</p>
        <ul class="lists">
          <li class="list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Evaluación inicial gratuita</span>
          </li>
          <li class="list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Acceso a recursos educativos</span>
          </li>
          <li class="list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Reporte básico de diagnóstico</span>
          </li>
        </ul>
        
        <div class="flex items-center justify-center">
          <button class="btnPlan">
            <span class="spanPlan">Empezar</span>
          </button>
        </div>
      </div>

      <div class="card">
        <div class="header">
          <span class="title">Plus</span>
        </div>
        <p class="desc">Consultoría integral</p>
        <ul class="lists">
          <li class="list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Evaluación detallada del negocio</span>
          </li>
          <li class="list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Asesoramiento mensual</span>
          </li>
          <li class="list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Acceso a webinars exclusivos</span>
          </li>
        </ul>
        
        <div class="flex items-center justify-center">
          <button class="btnPlan">
            <span class="spanPlan">Empezar</span>
          </button>
        </div>
      </div>

      <div class="card">
        <div class="header">
          <span class="title">Premium</span>
        </div>
        <p class="desc">Asistencia personalizada con expertos</p>
        <ul class="lists">
          <li class="list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Consultoría personalizada</span>
          </li>
          <li class="list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Acceso ilimitado a los recursos</span>
          </li>
          <li class="list">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg>
            <span>Seguimiento continuo</span>
          </li>
        </ul>
        
        <div class="flex items-center justify-center">
          <button class="btnPlan">
            <span class="spanPlan">Empezar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


