<section class="container">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="singup">
      <label for="chk" aria-hidden="true" class="labelTitle">Registro</label>
      <p class="text-sm text-stone-950 leading-normal flex items-center justify-center">¡Ingresa tus datos personales o los de tu empresa!</p>
      <app-register></app-register>
      <div class="containerText">
        <span class="parrafoLogin text-base text-stone-950">¿Ya tienes una cuenta? <label for="chk" class="labelLogin" tabindex="0">Inicia sesión</label></span>
      </div>
    </div>

    <div class="login">
      <label for="chk" aria-hidden="true" class="labelTitle">Iniciar sesión</label>
      <p class="text-sm text-stone-950 leading-normal flex items-start justify-center">Ingresa tu correo electrónico y contraseña.</p>
      <app-login></app-login>
      <div class="containerText">
        <span class="text-base text-stone-950">¿Aún no estas en Estramipyme? <label for="chk" class="labelRegistro" tabindex="0">Regístrate</label></span>
      </div>
    </div>
  </div>
</section>