.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 10px;
}



.main {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 630px;
  background-color: #010001;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  overflow: hidden;
  position: relative;
}


#chk {
  display: none;
}

.singup {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.labelLogin,
.labelRegistro {
  color: #049DBF;
  font-size: medium;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;

  &:hover {
    color: #F25E3D;
  }
}

.containerText {
  padding-bottom: 60px;
  width: 52%;
  margin: 2px auto;
}

.labelTitle {
  color: #049DBF;
  font-size: 2.3rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.login {
  height: 100%;
  background: #FEFFFE;
  border-radius: 40% / 10%;
  transform: translateY(-60px);
  transition: 0.8s ease-in-out;
  overflow-y: auto;
}

.login label {
  color: #020659;
  transform: scale(0.6);
}

#chk:checked~.login {
  transform: translateY(-92%);
}

#chk:checked~.login label {
  transform: scale(1);
}

#chk:checked~.singup label {
  transform: scale(0.3);
}

.singup,
.login {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #191919;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten(#191919, 20%);
    border-radius: 10px;
  }
}

// Estilos responsivos
@media (max-width: 1024px) {
  .main {
    max-width: 100%;
  }

  .labelLogin,
  .labelRegistro {
    font-size: 1rem;
  }

  label {
    font-size: 1.3rem;
  }

  p {
    width: 80%;
    margin: 2px auto;
    font-size: 0.9rem;
  }

  span {
    width: 80%;
    font-size: 1rem;
  }

  .login {
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  .containerText {
    padding-bottom: 60px;
    width: 52%;
    margin: 2px auto;
  }
}

@media (max-width: 768px) {
  .main {
    max-width: 90%;
  }

  .labelLogin,
  .labelRegistro {
    font-size: 0.9rem;
  }

  label {
    font-size: 1.3rem;
  }

  p {
    width: 80%;
    margin: 2px auto;
    font-size: 0.9rem;
  }

  span {
    width: 80%;
    font-size: 0.9rem;
  }

  .containerText {
    padding-bottom: 60px;
    width: 46%;
    margin: 2px auto;
  }
}

@media (max-width: 480px) {

  .labelLogin,
  .labelRegistro {
    font-size: 0.8rem;
  }

  label {
    font-size: 1.3rem;
  }

  p {
    width: 80%;
    margin: 2px auto;
    font-size: 0.8rem;
  }

  span {
    width: 80%;
    font-size: 0.8rem;
  }

  .containerText {
    padding-bottom: 60px;
    width: 52%;
    margin: 2px auto;
  }
}