<section class="container">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="singup bg-firstColor">
      <label for="chk" aria-hidden="true" class="labelTitle">Registro</label>
      <p class="text-sm text-thirdColor leading-normal flex items-center justify-center">¡Ingresa tus datos personales o los de tu empresa!</p>
      <app-registern></app-registern>
      <div class="containerText">
        <span class="text-base text-thirdColor">¿Ya tienes una cuenta? <label for="chk" class="labelLogin" tabindex="0">Inicia sesión</label></span>
      </div>
    </div>

    <div class="login">
      <label for="chk" aria-hidden="true" class="labelTitle text-firstColor">Iniciar sesión</label>
      <p class="text-sm text-paragraphColor leading-normal flex items-center justify-center">Ingresa tu correo electrónico y contraseña.</p>
      <app-login></app-login>
      <div class="containerText">
        <span class="text-base text-stone-950">¿Aún no estás en Estramipyme? <label for="chk" class="labelRegistro" tabindex="0">Regístrate</label></span>
      </div>
    </div>
  </div>
</section>
