<section class="container">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="singup">
      <label for="chk" aria-hidden="true">Registro</label>
      <p class="text-sm text-stone-950 leading-normal flex items-center justify-center">¡Ingresa tus datos personales o los de tu empresa!</p>
      <app-register></app-register>
    </div>

    <div class="login">
      <label for="chk" aria-hidden="true">Iniciar sesión</label>
      <p class="text-sm text-stone-950 leading-normal flex items-start justify-center">Ingresa tu correo electrónico y contraseña.</p>
      <app-login-users></app-login-users>
    </div>
  </div>
</section>