<section class="form-container">
    <h1>Formulario de Datos Obligatorios</h1>
    <form>
      <h2>Datos Generales del Negocio</h2>
      <div class="user-details">
        <h2>Detalles del Usuario</h2>
        <p><strong>Tipo:</strong> {{ user.type }}</p>
        <p><strong>Nombre:</strong> {{ user.name }}</p>
        <p><strong>Correo:</strong> {{ user.email }}</p>
        <p><strong>Dirección:</strong> {{ user.address }}</p>
        <p><strong>Teléfono:</strong> {{ user.phone }}</p>
        <p><strong>Celular:</strong> {{ user.cellphone }}</p>
        <p><strong>Tipo de Empresa:</strong> {{ user.companyType }}</p>
        <p><strong>Sector:</strong> {{ user.sector }}</p>
      </div>
  
      <!--Macroentorno-->
  
        <h2>Análisis macroentorno</h2>

          <!-- Sección de Riesgos y Oportunidades -->

            <div class="form-container">
            <div class="two-columns">
                <div class="column">
                <h2>Riesgos</h2>
                <div class="risk-container">
                    <div *ngFor="let risk of risks" class="risk-item">
                    <input type="text" [name]="'risk' + risk.id" [placeholder]="risk.text" required>
                    <button type="button" (click)="removeRisk(risk.id)">-</button>
                    </div>
                </div>
                <button type="button" class="add-button" (click)="addRisk()">+</button>
                </div>
                <div class="column">
                <h2>Oportunidades</h2>
                <div class="opportunity-container">
                    <div *ngFor="let opportunity of opportunities" class="opportunity-item">
                    <input type="text" [name]="'opportunity' + opportunity.id" [placeholder]="opportunity.text" required>
                    <button type="button" (click)="removeOpportunity(opportunity.id)">-</button>
                    </div>
                </div>
                <button type="button" class="add-button" (click)="addOpportunity()">+</button>
                </div>
            </div>
            </div>

          
            <br><br><h2>Análisis industria o sector</h2>

          <!-- Sección de Riesgos y Oportunidades -->
          <div class="form-container">
            <div class="two-columns">
              <div class="column">
                <h2>Riesgos</h2>
                <div class="risk-container">
                  <div *ngFor="let risk of risks" class="risk-item">
                    <input type="text" [name]="'risk' + risk.id" [placeholder]="risk.text" required>
                    <button type="button" (click)="removeRisk(risk.id)">-</button>
                  </div>
                </div>
                <button type="button" class="add-button" (click)="addRisk()">+</button>
              </div>
              <div class="column">
                <h2>Oportunidades</h2>
                <div class="opportunity-container">
                  <div *ngFor="let opportunity of opportunities" class="opportunity-item">
                    <input type="text" [name]="'opportunity' + opportunity.id" [placeholder]="opportunity.text" required>
                    <button type="button" (click)="removeOpportunity(opportunity.id)">-</button>
                  </div>
                </div>
                <button type="button" class="add-button" (click)="addOpportunity()">+</button>
              </div>
            </div>
          </div>

    <!--Circulo Dorado-->
    <div class="container">
        <div class="form-column">
            <div class="Circulo dorado">
                <label for="porque">¿Por qué y/o para qué?:(propósito del negocio)</label><br>
                <input type="text" id="porque" name="proposito del negocio" required><br><br>

                <label for="como">¿Cómo?:(propuesta de valor)</label><br>
                <input type="text" id="como" name="propuesta de valor" required><br><br>

                <label for="que">¿Qué?:(productos y servicios)</label><br>
                <input type="text" id="que" name="productos y servicios" required><br><br>
            </div>
        </div>
        <div class="circle-column">
            <div class="circle-container">
                <div class="circle circle-inner">
                    <div>¿Por qué y/o para qué?</div>
                    <div class="arrow porque"></div>
                </div>
                <div class="circle circle-middle">
                    <div>¿Cómo?</div>
                    <div class="arrow como"></div>
                </div>
                <div class="circle circle-outer">
                    <div>¿Qué?</div>
                    <div class="arrow que"></div>
                </div>
            </div>
        </div>
    </div>


    <br><br><h2>Análisis drink up</h2>

    <!-- Sección de Riesgos y Oportunidades -->
    <div class="form-container">
      <div class="two-columns">
        <div class="column">
          <h2>Macrotendencia</h2>
          <div class="risk-container">
            <div *ngFor="let risk of risks" class="risk-item">
              <input type="text" [name]="'risk' + risk.id" [placeholder]="risk.text" required>
              <button type="button" (click)="removeRisk(risk.id)">-</button>
            </div>
          </div>
          <button type="button" class="add-button" (click)="addRisk()">+</button>
        </div>
        <div class="column">
          <h2>Tendencia</h2>
          <div class="opportunity-container">
            <div *ngFor="let opportunity of opportunities" class="opportunity-item">
              <input type="text" [name]="'opportunity' + opportunity.id" [placeholder]="opportunity.text" required>
              <button type="button" (click)="removeOpportunity(opportunity.id)">-</button>
            </div>
          </div>
          <button type="button" class="add-button" (click)="addOpportunity()">+</button>
        </div>
      </div>
    </div><br><br>
 
  

      <h2>Análisis Externo (Exploración)</h2>
      <label>Principales Factores Políticos:</label><br>
      <div class="checkbox-group">
        <label><input type="checkbox" name="politicalFactors" value="Estabilidad gubernamental"> Estabilidad gubernamental</label><br>
        <label><input type="checkbox" name="politicalFactors" value="Políticas fiscales"> Políticas fiscales</label><br>
        <label><input type="checkbox" name="politicalFactors" value="Regulaciones laborales"> Regulaciones laborales</label><br>
        <label><input type="checkbox" name="politicalFactors" value="Relaciones internacionales"> Relaciones internacionales</label><br>
        <label><input type="checkbox" name="politicalFactors" value="Otros"> Otros (Especificar)</label><br>
      </div><br>
  
      <h2>Benchmarking y Competencia</h2>
      <label for="competitors">Principales Competidores:</label><br>
      <input type="text" id="competitors" name="competitors" required><br><br>
  
      <label>Posicionamiento Frente a la Competencia:</label>
      <div class="checkbox-group">
        <label><input type="checkbox" name="Posición frente a la competencia">Liderazgo en costos</label><br>
        <label><input type="checkbox" name="Posición frente a la competencia">Diferenciación</label><br>
        <label><input type="checkbox" name="Posición frente a la competencia">Enfoque en nichos de mercado</label><br>
        <label><input type="checkbox" name="Posición frente a la competencia">Otros (Especificar)</label><br>
        <input type="text" id="otros" name="kpis" required><br><br>
      </div><br>
  
      <h2>Objetivos y Metas</h2>
      <label>Objetivos Estratégicos del Negocio:</label><br>
      <div class="checkbox-group">
        <label><input type="checkbox" name="Objetivos estratégicos">Incrementar ventas</label><br>
        <label><input type="checkbox" name="Objetivos estratégicos">Expandir mercado</label><br>
        <label><input type="checkbox" name="Objetivos estratégicos">Mejorar eficiencia operativa</label><br>
        <label><input type="checkbox" name="Objetivos estratégicos">Innovar productos/servicios</label><br>
        <label><input type="checkbox" name="Objetivos estratégicos">Otros (Especificar)</label><br>
        <input type="text" id="otros" name="kpis" required><br><br>
      </div><br>
  
      <label for="kpis">Indicadores Clave de Desempeño (KPIs):</label><br>
      <input type="text" id="kpis" name="kpis" required><br><br>
  
      <button type="submit" class="submit-button">Enviar</button>
    </form>
  </section>
  