<!-- Barra de Navegación -->
<nav class="bg-gray-800 text-white p-4">
  <section>
    <h1 class="font-bold text-lg lg:text-3xl text-indigo-500">AngularBase</h1>
        <span class="text-2xl">
            <a href="#" class="text-white text-2xl font-semibold">Estramipyme</a></span>
           <ul class="flex space-x-4">
              <li><a href="#about" class="hover:text-gray-300">Sobre Nosotros</a></li>
              <li><a href="#services" class="hover:text-gray-300">Nuestros Servicios</a></li>
              <li><a href="#resources" class="hover:text-gray-300">Recursos</a></li>
              <li><a href="#plans" class="hover:text-gray-300">Planes</a></li>
              <li><a href="#register" class="hover:text-gray-300">Registro</a></li>
              <li><a href="#register" class="hover:text-gray-300">Login</a></li>
              <li><a href="#dashboard" class="hover:text-gray-300">Equipo</a></li>
            </ul>
    </section>
  </nav>
  
 