 
 <body class="flex flex-col min-h-screen">

    <!-- Sección Hero -->
    <section class="bg-blue-600 text-white text-center py-20">
    
    <!-- Banner -->
    <section class="relative overflow-hidden">
      <app-navbar-landingpage></app-navbar-landingpage>
      <div class="banner-container flex animate-scroll">
        <div class="banner-item">
          <img src="../../../../2022-ongoing.jpg" alt="Lanzamiento On.going">
          <p>2022</p>
        </div>
        <div class="banner-item">
          <img src="../../../../2024-Estramipyme.jpg" alt="Estramipyme 2024">
          <p>2024</p>
        </div>
        <div class="banner-item">
          <img src="../../../../2023-100_startups.jpg" alt="Start-ups destacadas">
          <p>2023</p>
        </div>
        <div class="banner-item">
          <img src="../../../../2020-Capital_Semilla.jpg" alt="Concurso Capital Semilla">
          <p>2020</p>
        </div>
        <div class="banner-item">
          <img src="../2020-Inmotion_group.jpg" alt="Premio Inmotion Group">
          <p>2020</p>
        </div>
        <div class="banner-item">
          <img src="../../../../2021-Noche_mejores.jpg" alt="Reconocimiento La Noche de los Mejores">
          <p>2021</p>
        </div>
      </div>
    </section>
    <h1 class="text-4xl font-bold">Evaluación y Mejora de Estrategias Empresariales</h1>
      <p class="text-xl mt-4">Herramientas efectivas para todos.</p>
      <button class="mt-6 bg-white text-blue-600 py-2 px-4 rounded">Comienza tu evaluación gratuita hoy</button>
  </section>

  <!-- Icono de Libro Flotante -->
<div class="fixed bottom-4 right-4">
  <button id="Libro">
    <a href=#register>
      <img src="../../../../Boton.png" alt="Libro descarga" class="w-20 h-20">
    </a>
  </button>
</div>

  <!-- Sección Sobre Nosotros -->
  <section id="about" class="p-8">
    <h2 class="text-3xl font-bold text-center">Sobre Nosotros</h2>
    <p class="mt-4 text-center">Información sobre el área de estrategia de EAFIT y el equipo.</p>
    <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-4">

      <!-- Fotos del equipo, infografías sobre el proceso -->
      <div class="flex justify-center">
        <img src="equipo1.jpg" alt="Equipo 1" class="rounded-lg shadow-lg">
      </div>
      <div class="flex justify-center">
        <img src="equipo2.jpg" alt="Equipo 2" class="rounded-lg shadow-lg">
      </div>
      <div class="flex justify-center">
        <img src="equipo3.jpg" alt="Equipo 3" class="rounded-lg shadow-lg">
      </div>
    </div>
  </section>

  <!-- Sección de Servicios -->
  <section id="services" class="p-8 bg-gray-100">
    <h2 class="text-3xl font-bold text-center">Nuestros Servicios</h2>
    <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex flex-col items-center">
        <h3 class="text-2xl">Test Diagnóstico</h3>
        <p class="mt-2">Descripción del test diagnóstico y sus beneficios.</p>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="text-2xl">Proceso Estratégico</h3>
        <p class="mt-2">Explicación del proceso estratégico en pasos fáciles y ágiles.</p>
      </div>
    </div>
  </section>

  <!-- Sección de Planes -->
  <section id="plans" class="bg-gray-100 py-12">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-4xl font-extrabold text-center text-gray-800">Planes</h2>
      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <!-- Plan Gratuito -->
        <div class="p-6 bg-white shadow-lg rounded-lg text-center hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-2xl font-semibold text-gray-700 mb-2">Plan Gratuito</h3>
          <div class="mt-4">
            <span class="text-5xl font-bold text-gray-900">Gratis</span>
          </div>
          <ul class="mt-6 space-y-2">
            <li class="flex items-center justify-center">
              <svg class="h-6 w-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
              Acceso inmediato al cuestionario diagnóstico
            </li>
          </ul>
          <div class="mt-8">
            <a href="#" class="block w-full bg-indigo-500 hover:bg-indigo-400 text-white font-semibold text-center py-2 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">Get Started</a>
          </div>
        </div>
  
        <!-- Plan de Costo Moderado -->
        <div class="p-6 bg-white shadow-lg rounded-lg text-center hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-2xl font-semibold text-gray-700 mb-2">Plan de Costo Moderado</h3>
          <div class="mt-4">
            <span class="text-5xl font-bold text-gray-900">$39</span>
            <span class="text-gray-600">/mes</span>
          </div>
          <ul class="mt-6 space-y-2">
            <li class="flex items-center justify-center">
              <svg class="h-6 w-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
              Asistencia de un estudiante de pregrado y un profesor
            </li>
          </ul>
          <div class="mt-8">
            <a href="#" class="block w-full bg-indigo-500 hover:bg-indigo-400 text-white font-semibold text-center py-2 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">Get Started</a>
          </div>
        </div>
  
        <!-- Plan de Costo Alto -->
        <div class="p-6 bg-white shadow-lg rounded-lg text-center hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-2xl font-semibold text-gray-700 mb-2">Plan de Costo Alto</h3>
          <div class="mt-4">
            <span class="text-5xl font-bold text-gray-900">$79</span>
            <span class="text-gray-600">/mes</span>
          </div>
          <ul class="mt-6 space-y-2">
            <li class="flex items-center justify-center">
              <svg class="h-6 w-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
              Asistencia directa de un profesor
            </li>
          </ul>
          <div class="mt-8">
            <a href="#" class="block w-full bg-indigo-500 hover:bg-indigo-400 text-white font-semibold text-center py-2 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- Sección de Registro -->
  <section id="register" class="p-8 bg-gray-100 flex-container">
    <app-register></app-register>
    <app-login></app-login>
  </section>
  

  <!-- Sección de Testimonios -->
  <section id="events" class="p-8">
    <h2 class="text-3xl font-bold text-center">Eventos</h2>
    <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col items-center">
        <p class="italic">"La herramienta ha mejorado significativamente nuestra estrategia empresarial." - Usuario 1</p>
      </div>
      <div class="flex flex-col items-center">
        <p class="italic">"El diagnóstico fue preciso y nos ayudó a identificar nuestras debilidades." - Usuario 2</p>
      </div>
    </div>
 </section>

  <!-- Sección de Contacto -->
  <section id="contact" class="p-8 bg-gray-100">
    <h2 class="text-3xl font-bold text-center">Contáctanos</h2>
    <form class="mt-4 mx-auto max-w-xl">
      <label for="block mb-2">Nombre completo:</label>
      <input type="text" class="w-full p-2 border rounded mb-4" id="name"/>

      <label for="block mb-2">Correo Electrónico:</label>
      <input type="email" class="w-full p-2 border rounded mb-4" id="email"/>

      <label for="block mb-2">Asunto:</label>
      <input type="text" class="w-full p-2 border rounded mb-4" id="subject"/>

      <label for="block mb-2">Mensaje:</label>
      <textarea class="w-full p-2 border rounded mb-4" id="coments"></textarea>
      <button type="coments" class="bg-blue-600 text-white py-2 px-4 rounded" >Envíanos un mensaje</button>
    </form>
  </section>
</body>


