.charts {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  }
  
  .pie, .line {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
  }
  