<section>
  <div class="relative flex flex-col justify-center items-center">
    <div class="md:shadow-lg bg-gray-200 shadow-none rounded p-6 w-96">
      <h1 class="text-3xl text-stone-950 font-bold leading-normal flex items-start">Iniciar sesión</h1>
      <p class="text-sm text-stone-950 leading-normal flex items-start">Ingresa tu correo electrónico y contraseña.</p>
      <form class="space-y-5 mt-5" [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="relative">
          <input id="email" type="email" formControlName="email" autocomplete="email"
            class="peer w-full border text-stone-950 border-gray-300 rounded px-3 pt-5 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600 focus:border-indigo-600"/>
          <label for="email"
            class="absolute left-3 transform translate-y-1 transition-all text-gray-500 cursor-text
          peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-indigo-500">Correo
            electrónico</label>
          <div
            *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
            class="text-red-500 text-xs">
            <div *ngIf="loginForm.get('email')?.hasError('required')">El correo es requerido.</div>
            <div *ngIf="loginForm.get('email')?.hasError('email')">Introduce una dirección de correo electrónico válida.
            </div>
          </div>
        </div>

        <div class="relative">
          <input id="password" type="password" formControlName="password" autocomplete="current-password"
            class="peer w-full border text-stone-950 border-gray-300 rounded px-3 pt-5 pb-2 outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600 focus:border-indigo-600" />
          <label for="password"
            class="absolute left-3 transform translate-y-1 transition-all text-gray-500 cursor-text
          peer-placeholder-shown:top-1/2 peer-placeholder-shown:translate-y-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:-translate-y-0 peer-focus:text-xs peer-focus:text-indigo-600">Contraseña</label>

          <div
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
            class="text-red-500 text-xs">
            <div *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es requerida.</div>
          </div>
        </div>

        <div class="">
          <p class="text-base"><a class="flex justify-end text-blue-700 font-bold hover:text-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 rounded-full p-1"
            href="#">¿Ha olvidado la contraseña?</a></p>
        </div>
        <div class="flex items-center justify-center">
          <a routerLink="['/formulario']" routerLinkActive="router-link-active" target="_blank" class="block w-full bg-blue-700 hover:bg-blue-500 text-white font-semibold text-center py-2 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">
            Iniciar sesión
          </a>
        </div>
        
      </form>
    </div>
    <p class="py-5 text-base text-stone-950">¿Aún no estas en Estramipyme?<a
      class="text-blue-700 font-bold hover:text-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 rounded-full p-1"
        href="#">Regístrate</a></p>
  </div>
</section>