.charts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr); /* 1 columna en pantallas pequeñas */
  gap: 20px;
  padding: 20px;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

@media (min-width: 768px) {
  .charts {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
  }
}

@media (min-width: 1024px) {
  .charts {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
  }
}

.chart-container {
  background-color: #ffffff; /* Fondo blanco */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.echart {
  width: 100%; /* Ancho ajustado */
  height: 250px; /* Altura fija para las gráficas */
}
