<div class="charts">
  <div class="chart-container">
    <h3 class="text-center text-xl font-semibold mb-4">Pie Chart</h3>
    <div echarts [options]="pieChartOptions" class="echart"></div>
  </div>

  <div class="chart-container">
    <h3 class="text-center text-xl font-semibold mb-4">Line Chart</h3>
    <div echarts [options]="lineChartOptions" class="echart"></div>
  </div>

  <div class="chart-container">
    <h3 class="text-center text-xl font-semibold mb-4">Reloj Chart</h3>
    <div echarts [options]="relojChartOptions" class="echart"></div>
  </div>

  <div class="chart-container">
    <h3 class="text-center text-xl font-semibold mb-4">Trafico web Chart</h3>
    <div echarts [options]="chartOptions1" class="echart"></div>
  </div>

  <div class="chart-container">
    <h3 class="text-center text-xl font-semibold mb-4">Comportamiento usuario Chart</h3>
    <div echarts [options]="chartOptions2" class="echart"></div>
  </div>

  <div class="chart-container">
    <h3 class="text-center text-xl font-semibold mb-4">Conversiones Chart</h3>
    <div echarts [options]="chartOptions3" class="echart"></div>
  </div>

  <div class="chart-container">
    <h3 class="text-center text-xl font-semibold mb-4">Rendimiento contenido Chart</h3>
    <div echarts [options]="chartOptions4" class="echart"></div>
  </div>
</div>
