div {
    margin: 15px;
    background-color: rgb(200, 204, 212);
    width: 100%;
    height: 100vh;
}

.charts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los gráficos */
    padding: 20px;
  }
  
  .pie, .line {
    flex: auto;
    min-height: 33.3vh;
    min-width: 33.3vh; /* Ancho mínimo para los gráficos */
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra a la izquierda */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .echart {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
  gap: 20px;
   background-color: #ffffff;
   
  }
  