<nav class="bg-gray-800 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-white text-2xl font-semibold">Navbar</a>
    <ul class="flex space-x-4">
      <li class="text-white hover:text-gray-300">
        <a routerLink="/inicio">Portfolio</a>
      </li>
      <li *ngIf="!userLoginOn" class="text-white hover:text-gray-300">
        <a routerLink="/iniciar-sesion">Iniciar sesión</a>
      </li>
      <li *ngIf="userLoginOn" class="text-white hover:text-gray-300">
        <a routerLink="/cerrar-sesion">Cerrar sesión</a>
      </li>
      <li class="text-white hover:text-gray-300">
        <a href="#">Contact</a>
      </li>
      <li class="text-white hover:text-gray-300">
        <a href="#"><h1>
          Hello world!
        </h1></a>
      </li>
    </ul>
  </div>
</nav>


