<div class="charts grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
  <div class="chart-container">
    <h3 class="chart-title">Pie Chart</h3>
    <div echarts [options]="pieChartOptions" class="echart"></div>
  </div>
  <div class="chart-container">
    <h3 class="chart-title">Line Chart</h3>
    <div echarts [options]="lineChartOptions" class="echart"></div>
  </div>
  <div class="chart-container">
    <h3 class="chart-title">Reloj Chart</h3>
    <div echarts [options]="relojChartOptions" class="echart"></div>
  </div>
  <div class="chart-container">
    <h3 class="chart-title">Trafico web Chart</h3>
    <div echarts [options]="chartOptions1" class="echart"></div>
  </div>
  <div class="chart-container">
    <h3 class="chart-title">Comportamiento usuario Chart</h3>
    <div echarts [options]="chartOptions2" class="echart"></div>
  </div>
  <div class="chart-container">
    <h3 class="chart-title">Conversiones Chart</h3>
    <div echarts [options]="chartOptions3" class="echart"></div>
  </div>
  <div class="chart-container">
    <h3 class="chart-title">Rendimiento contenido Chart</h3>
    <div echarts [options]="chartOptions4" class="echart"></div>
  </div>
</div>
