<!-- <app-header-dashboard></app-header-dashboard> -->
<div class="container">
    <!-- <app-sidebar></app-sidebar> -->
</div>
<div class="container" style="border: 3px solid rgb(0, 255, 55)">
    <div class="container>" style="border: 3px solid rgb(255, 0, 140)">
        <nav class="bg-gray-800 text-white py-4 px-6 flex justify-between items-center">
            <a class="text-lg font-semibold" href="#">Usuarios</a>

            <section class="flex items-center space-x-4">
                <button (click)="navigateToCreate()"
                    class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">
                    Add+
                </button>
            </section>
        </nav>
    </div>
    <router-outlet></router-outlet>
    <app-footer-dashboard></app-footer-dashboard>
</div>