/* src/app/graphics-administrator/graphics-administrator.component.scss */
:host{
  display: block;
  height: 100%;
  width: 100%;
}

/* styles.css o styles.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

// .main-container {
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
//   width: 100vw;
//   height: 100vh;
// }