:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header-dashboard {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.flex {
  margin-top: 64px; // Ajustar según la altura del header
}

app-footer-dashboard {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  margin-top: auto;
}

.flex-1 {
  overflow-y: auto;
  padding-bottom: 64px; // Ajustar según la altura del footer
}
