@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  margin: 0;
  padding: 0;
}

html{
scroll-behavior: smooth;
}

.ng-valid:not(form).ng-touched   {
    border-left: 5px solid #42A948; /* green */
  }
 
.ng-invalid:not(form).ng-touched  {
    border-left: 5px solid #a94442; /* red */
  }

  