@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
  margin: -1;
  padding: -1;
}

html{
scroll-behavior: smooth;
}

.ng-valid:not(form).ng-touched   {
    border-left: 4px solid #42A948; /* green */
  }
 
.ng-invalid:not(form).ng-touched  {
    border-left: 4px solid #a94442; /* red */
  }

  