/* Estilo general para la barra lateral */
#sidebar {
  font-family: 'Montserrat', sans-serif !important;
  transition: width 0.3s ease; /* Transición para el colapso */
}

/* Botón para alternar la barra lateral */
.toggle-sidebar-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros contenidos */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggle-sidebar-button.rotate-180 {
  transform: rotate(180deg);
}

