aside{
  font-family: 'Montserrat', sans-serif !important;
}

aside h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li a {
  text-decoration: none;
  // color: #333;
}



