<!-- left sidebar -->
<aside id="sidebar" class="w-[60px] lg:w-[240px] h-[calc(100vh-14%)] fixed bg-firstColor text-[#FEFFFE] shadow overflow-x-hidden transition-all duration-500 ease-in-out">
    <div class="flex flex-col justify-between h-full">
        <div>
            <ul class="flex flex-col gap-1 mt-2">
                <li class="text-thirdColor hover:bg-azulAlterno hover:text-fourthColor hover:font-bold hover:rounded-l-full hover:ml-1">
                    <a class="w-full flex items-center py-3" href="http://localhost:4200/dashboard">
                        <i class="fa-solid fa-house text-center px-5"></i>
                        <span class="whitespace-nowrap pl-1">Dashboard</span>
                    </a>
                </li>
   
                <li class="text-thirdColor hover:bg-azulAlterno hover:text-fourthColor hover:font-bold hover:rounded-l-full hover:ml-1">
                    <a class="w-full flex items-center py-3" href="http://localhost:4200/dashboard/metrics">
                        <i class="fa-solid fa-chart-line text-center px-5"></i>
                        <span class="whitespace-nowrap pl-1">Métricas</span>
                    </a>
                </li>
   
                <li class="text-thirdColor hover:bg-azulAlterno hover:text-fourthColor hover:font-bold hover:rounded-l-full hover:ml-1">
                    <a class="w-full flex items-center py-3" href="http://localhost:4200/dashboard/users/home">
                        <i class="fa-solid fa-users text-center px-5"></i>
                        <span class="whitespace-nowrap pl-1">Usuarios</span>
                    </a>
                </li>
            </ul>
        </div>
        <ul>
            <li class="text-gray-500 hover:bg-gray-100 hover:text-gray-900">
                <a class="w-full flex items-center py-3" href="http://localhost:4200/dashboard/events">
                    <i class="fa-solid fa-calendar-days text-center px-5"></i>
                    <span class="whitespace-nowrap pl-1">Eventos</span>
                </a>
            </li>
        </ul>
        <div>
            <ul class="flex flex-col gap-1 mt-2">
                <li class="text-thirdColor hover:bg-azulAlterno hover:text-fourthColor hover:font-bold hover:rounded-l-full hover:ml-1">
                    <a class="w-full flex items-center py-3" href="http://localhost:4200/inicio">
                        <i class="fa-solid fa-right-from-bracket text-center px-5"></i>
                        <span class="pl-1">Cerrar sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>