@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.social-icons {
  @media (max-width: 480px) {
    display: none;
  }
}

@media (max-width: 480px) {
  .space-y-1 {
    a {
      display: block;
      text-align: center;
      padding: 8px;
      color: #ffffff;

      &:hover {
        background-color: #049DBF;
      }
    }
  }
}
