<section class="container">
  <h2 class="text-3xl text-firstColor font-bold text-center">Soluciones a Tu Medida</h2>
  <p class="subtPlans mt-4 text-paragraphColor font-semibold text-center">Encuentra el plan más adecuado para ti</p>
  <div class="event-grid">
    <div *ngIf="events$ | async as events; else noEvents">
      <div *ngFor="let event of events" class="event-item">
        <img [src]="event.photo" alt="{{ event.description }}" class="event-photo">
        <div class="event-details">
          <p><strong>Date:</strong> {{ event.date | date:'yyyy-MM-dd' }}</p>
          <p><strong>Time:</strong> {{ event.time }}</p>
          <p><strong>Description:</strong> {{ event.description }}</p>
        </div>
        <div class="event-actions">
          <button (click)="editEvent(event)">Edit</button>
          <button (click)="deleteEvent(event.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noEvents>
    <p>No events available.</p>
  </ng-template>
</section>
